.navbar-default .navbar-nav > .active > a {
  color: white !important;
  background: rgba(52, 54, 74, 0.95) !important;
}
.navbar-default .navbar-nav a {
  color: white !important;
}
.restPageContainer {
  width: 100%;
  height: 150px;
  position: relative;
}
.restPageContainer .pageContainer {
  margin: 30px;
  position: absolute;
  top: -177px;
}
.restPageContainer .pageContainer .containerTop {
  padding: 30px;
  border-bottom: 1px solid #efefef;
  background-color: white;
}
.restPageContainer .pageContainer .containerTop:after {
  content: '';
  display: table;
  clear: both;
}
.restPageContainer .pageContainer .containerTop .titlePart {
  font-size: 22px;
  margin-bottom: 20px;
}
.restPageContainer .pageContainer .containerTop .positioningCall {
  position: relative;
  width: 200px;
  float: left;
}
.restPageContainer .pageContainer .containerTop .positioningCall .numberInputPart {
  background-color: white;
  padding: 7px;
  text-align: center;
  color: #3d3f52;
  border: 1px solid;
  cursor: pointer;
}
.restPageContainer .pageContainer .containerTop .positioningCall .numberInputPart:hover {
  background-color: #3d3f52;
  color: white;
}
.restPageContainer .pageContainer .containerTop .positioningCall .dropMenu {
  margin-top: 2px;
}
.restPageContainer .pageContainer .containerTop .positioningCall .dropMenu input {
  width: 100%;
  background-color: white;
  color: #3d3f52;
  border: 1px solid #3d3f52;
  outline: 0;
}
.restPageContainer .pageContainer .containerTop .textToday {
  float: left;
  margin-left: 20px;
  line-height: 35px;
  font-size: 14px;
}
.restPageContainer .pageContainer .containerTop .hours {
  float: left;
  height: 36px;
  margin-left: 20px;
  outline: none;
}
.restPageContainer .pageContainer .containerTop .rating {
  float: left;
  line-height: 35px;
  margin-left: 20px;
}
.restPageContainer .pageContainer .containerTop .rating .lead {
  margin: 0;
  line-height: 35px;
}
.restPageContainer .pageContainer .containerContent .containerPart {
  padding: 30px;
}
.restPageContainer .pageContainer .containerContent .containerPart:first-child {
  width: 35%;
}
.restPageContainer .pageContainer .containerContent .containerPart:last-child {
  width: 65%;
  padding-left: 0;
  padding-right: 0;
  border-left: 1px solid #efefef;
}
.restPageContainer .pageContainer .containerContent .containerPart .moreInfo {
  margin-top: 20px;
}
.restPageContainer .pageContainer .containerContent .containerPart .moreInfo .introTitle {
  font-weight: 700;
}
.restPageContainer .pageContainer .containerContent .containerPart .mapPartTitle {
  padding: 0 0 20px 20px;
  border-bottom: 1px solid #efefef;
}
.restPageContainer .pageContainer .containerContent .containerPart .mapPartMap {
  padding: 20px 20px 0 20px;
}
.restPageContainer .pageContainer .containerContent .containerPart .mapPartMap .map {
  border: 1px solid #efefef;
}
.restPageContainer .pageContainer .containerContent .containerPart .mapPartContent {
  padding: 20px;
}
.restPageContainer .pageContainer .containerContent .containerPart .mapPartContent .moreInfoAddress {
  margin-bottom: 15px;
}
.restPageContainer .pageContainer .containerContent .containerPart .mapPartContent .moreInfoAddress .introTitle {
  font-weight: 700;
  margin-right: 20px;
}
.restPageContainer .pageContainer .containerContent .container1 {
  background-color: white;
}
.restPageContainer .pageContainer .containerContent .pages {
  background-color: white;
  margin-top: 10px;
  padding: 20px;
}
.restPageContainer .pageContainer .containerContent .pages:after {
  content: '';
  display: table;
  clear: both;
}
.restPageContainer .pageContainer .containerContent .pages .containerTitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.restPageContainer .pageContainer .containerContent .pages .containerContent {
  display: table;
  float: left;
  margin-right: 15px;
}
.restPageContainer .pageContainer .containerContent .pages .containerContent:last-child {
  margin-right: 0;
}
.restPageContainer .pageContainer .containerContent .pages .containerContent .shareItem {
  width: 250px;
  height: 100px;
  text-align: center;
  border: 1px dashed #797979;
  display: table-cell;
  vertical-align: middle;
}
